  <!-- ======= hero start ======= -->
    <section
      id="home"
      class="relative bg-default-100 bg-[url('../images/other/bg-lines-2.png')] bg-cover bg-no-repeat py-24 dark:bg-default-50 dark:bg-[url('../images/other/bg-lines-2-dark.png')] lg:py-32"
    >
      <div
        class="flex items-center overflow-hidden before:absolute before:inset-0 before:left-[63.67%] before:hidden before:rounded-bl-3xl before:bg-primary/80 lg:before:block"
      >
        <div
          class="absolute -top-44 bottom-0 right-0 w-2/6 bg-contain bg-right bg-no-repeat"
          style="background-image: url(assets/images/landing/charity/bg-1.png)"
        ></div>

        <div class="container">
          <div class="grid grid-cols-1 items-center gap-10 lg:grid-cols-2">
            <div class="">
              <div class="flex flex-col justify-center">
                <h2
                  class="mb-4 text-2xl font-medium text-default-950 sm:text-3xl xl:text-5xl/tight"
                >
                  Let's Collaborate and Achieve Greatness Together!
                </h2>
                <p class="mt-5 text-base">
                  Sed consequat, leo eget bibendum sodales, augue velit cursus
                  nunc, quis gravida magna mi a libero.
                </p>
                <div class="mt-10">
                  <a
                    href="javascript:void(0);"
                    class="inline-flex items-center justify-center gap-2 rounded-md bg-primary px-8 py-2 text-base text-white transition-all duration-300 hover:bg-primary-700"
                    >Read More
                    <lucide-angular
                      name="move-right"
                      class="size-6"
                    ></lucide-angular>
                  </a>
                </div>
              </div>
              <!-- flex End -->
            </div>

            <div class="z-10">
              <div class="tilt flex items-center gap-4 md:gap-6">
                <div class="flex w-full flex-col gap-4 md:gap-6">
                  <img
                    src="assets/images/landing/charity/img-1.jpg"
                    class="h-full w-full rounded-lg object-cover"
                    alt=""
                  />
                </div>
                <div
                  class="relative flex w-full flex-col gap-4 pb-10 md:gap-6 md:pb-16"
                >
                  <img
                    src="assets/images/landing/charity/img-2.jpg"
                    class="h-40 w-full rounded-lg object-cover md:h-[278px]"
                    alt=""
                  />
                  <img
                    src="assets/images/landing/charity/img-3.jpg"
                    class="h-40 w-full rounded-lg object-cover md:h-[278px]"
                    alt=""
                  />
                </div>
              </div>
              <!-- flex End -->
            </div>
          </div>
          <!-- Grid End -->
        </div>
        <!-- Container End -->
      </div>
    </section>
    <!-- ======= hero end ======= -->

    <section class="relative -mt-40 py-10 md:-mt-32">
      <div class="container">
        <div
          class="mx-auto max-w-6xl rounded-xl bg-gradient-to-t from-default-50 via-default-100 to-default-200 shadow"
        >
          <!-- <div
            class="grid divide-y divide-default-300 lg:grid-cols-3 lg:divide-x lg:divide-y-0"
          >
            <div class="p-8">
              <lucide-angular
                name="book-copy"
                class="size-12 text-default-950"
              ></lucide-angular>
              <h2 class="mt-5 text-xl font-medium text-default-950">
                Nutritious Meals
              </h2>
              <p class="mt-4 text-base">
                Praesent vestibulum dapibus nibh. Etiam iaculis nunc ac metus.
              </p>
              <div class="group mt-5">
                <a
                  href="javascript:void(0);"
                  class="text-lg font-medium text-default-900"
                  >Read More
                  <lucide-angular
                    name="move-right"
                    class="inline-block size-6 opacity-0 transition-all duration-500 will-change-transform group-hover:translate-x-2 group-hover:opacity-100"
                  ></lucide-angular>
                </a>
              </div>
            </div>

            <div class="p-8">
              <lucide-angular
                name="send"
                class="size-12 text-default-950"
              ></lucide-angular>
              <h2 class="mt-5 text-xl font-medium text-default-950">
                Pure Drinking Water
              </h2>
              <p class="mt-4 text-base">
                Praesent vestibulum dapibus nibh. Etiam iaculis nunc ac metus.
              </p>
              <div class="group mt-5">
                <a
                  href="javascript:void(0);"
                  class="text-lg font-medium text-default-900"
                  >Read More
                  <lucide-angular
                    name="move-right"
                    class="inline-block size-6 opacity-0 transition-all duration-500 will-change-transform group-hover:translate-x-2 group-hover:opacity-100"
                  ></lucide-angular>
                </a>
              </div>
            </div>

            <div class="p-8">
              <lucide-angular
                name="book-copy"
                class="size-12 text-default-950"
              ></lucide-angular>
              <h2 class="mt-5 text-xl font-medium text-default-950">
                Quality Education
              </h2>
              <p class="mt-4 text-base">
                Praesent vestibulum dapibus nibh. Etiam iaculis nunc ac metus.
              </p>
              <div class="group mt-5">
                <a
                  href="javascript:void(0);"
                  class="text-lg font-medium text-default-900"
                  >Read More
                  <lucide-angular
                    name="move-right"
                    class="inline-block size-6 opacity-0 transition-all duration-500 will-change-transform group-hover:translate-x-2 group-hover:opacity-100"
                  ></lucide-angular>
                </a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>
  
    <!-- Hero Section Start -->
    <section id="home" class="relative overflow-hidden">
        <div class="px-4 md:px-10">
          <div
            class="overflow-hidden rounded-2xl bg-cover bg-center bg-no-repeat"
            style="
              background-image: url(https://img.freepik.com/photos-gratuite/jeux-olympiques-paris-2024-illustration-image-generee-par-ia_268835-6134.jpg);
            "
          >
            <div class="rounded-2xl bg-black/60">
              <div class="container">
                <div class="relative p-6">
                  <div class="flex h-full items-center justify-center py-36">
                    <div class="relative mx-auto max-w-3xl text-center">
                      <span
                        class="rounded-md bg-white/10 px-3 py-1 text-sm font-medium uppercase tracking-wider text-white"
                        >PDB</span
                      >
                      <h1
                        class="mt-10 text-3xl font-medium text-white md:text-5xl/snug"
                      >
                        POUR DU BEURRE
                      </h1>
                      <p class="mx-auto mt-5 w-3/4 text-base text-white/80">
                        Application de pronostique sportif 
                      </p>
  
                      <div class="mt-10 flex justify-center">
                        <a
                          href="javascript:void(0);"
                          class="inline-flex items-center justify-center gap-2 rounded-md bg-primary px-8 py-2 text-base text-white transition-all duration-300 hover:bg-primary-700"
                          >préinscription
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- flex End -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Container End -->
      </section>
      <!-- Hero end  -->
        <!-- ----------------------------------------------------------- -->
<!-- image 1 Start About -->
<section id="projects" class="overflow-hidden py-10">
  <div class="container">
    <div
      class="relative overflow-hidden rounded-3xl bg-white shadow-[rgba(17,_17,_26,_0.1)_0px_0px_24px] dark:bg-default-50"
    >
      <div class="grid items-center gap-6 lg:grid-cols-2">
        <div class="relative p-6 text-center">
          <span
            class="rounded-md border border-primary bg-primary/20 px-3 py-1 text-xs font-medium uppercase tracking-wider text-primary"
            >Le défis !</span
          >
          <h2 class="mt-4 text-3xl font-medium text-default-950">
            Pour l'amour de la compétition 
          </h2>
          <p class="mb-8 mt-5 text-base">
            Sur Pour Du beurre vous parriez vous l'amour du défis et défié les membres de votre famille, vos amis et collegue !!!!
          </p>
          <a
            href="javascript:void(0);"
            class="inline-flex items-center justify-center gap-2 rounded-md bg-primary px-6 py-2 text-white transition-all duration-300 hover:bg-primary-700"
            >Read More
            <!-- <lucide-angular
              name="move-right"
              class="size-6"
            ></lucide-angular> -->
          </a>
        </div>
        <img
          src="https://e-s-c.fr/img/Sport%20comp%c3%a9tition.jpg"
          class="h-full w-full"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End About -->
<!--Image 2 Start About -->
<section id="projects" class="overflow-hidden py-10">
  <div class="container">
    <div
      class="relative overflow-hidden rounded-3xl bg-white shadow-[rgba(17,_17,_26,_0.1)_0px_0px_24px] dark:bg-default-50"
    >
      <div class="grid items-center gap-6 lg:grid-cols-2">
        <div class="relative p-6 text-center">
          <span
            class="rounded-md border border-primary bg-primary/20 px-3 py-1 text-xs font-medium uppercase tracking-wider text-primary"
            >Tous les sport !</span
          >
          <h2 class="mt-4 text-3xl font-medium text-default-950">
            Immérgez vous dans les JO
          </h2>
          <p class="mb-8 mt-5 text-base">
            Vous pourrez pariez sur toutes les disciplines présente lors des Jeux Olympques de Paris 2024 !!!
          </p>
          <a
            href="javascript:void(0);"
            class="inline-flex items-center justify-center gap-2 rounded-md bg-primary px-6 py-2 text-white transition-all duration-300 hover:bg-primary-700"
            >Read More
            <!-- <lucide-angular
              name="move-right"
              class="size-6"
            ></lucide-angular> -->
          </a>
        </div>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG0NcJgSPx7SHUnov1cUlQgsY9USK1j42JXQ&s"
          class="h-full w-full"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End About -->
<!--Image 3 Start About -->
<section id="projects" class="overflow-hidden py-10">
  <div class="container">
    <div
      class="relative overflow-hidden rounded-3xl bg-white shadow-[rgba(17,_17,_26,_0.1)_0px_0px_24px] dark:bg-default-50"
    >
      <div class="grid items-center gap-6 lg:grid-cols-2">
        <div class="relative p-6 text-center">
          <span
            class="rounded-md border border-primary bg-primary/20 px-3 py-1 text-xs font-medium uppercase tracking-wider text-primary"
            >Juste du Fun !</span
          >
          <h2 class="mt-4 text-3xl font-medium text-default-950">
            Le plaisir du paris sans pression !!!
          </h2>
          <p class="mb-8 mt-5 text-base">
            Avec Pour Du Beurre vous arurez les emotions du paris, 'adrénaline le chanlennge, la compétitions sans avoir besoins de parler encore et toujours d'argent !!!  
          </p>
          <a
            href="javascript:void(0);"
            class="inline-flex items-center justify-center gap-2 rounded-md bg-primary px-6 py-2 text-white transition-all duration-300 hover:bg-primary-700"
            >Read More
            <!-- <lucide-angular
              name="move-right"
              class="size-6"
            ></lucide-angular> -->
          </a>
        </div>
        <img
          src="https://images.footballfanatics.com/paris-2024/paris-2024-olympics-mascot-welcome-pin-badge_ss5_p-201036574+pv-1+u-b46ti2ecsjojbcyagz45+v-rtvf2xffkq9gtdtdiaea.jpg?_hv=2&w=900"
          class="h-full w-full"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End About -->
<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- Start statistique -->
<section id="about" class="py-10 lg:py-20">
  <div class="container">
    <div class="grid items-center gap-6 xl:grid-cols-5">
      <div class="xl:col-span-2">
        <div>
          <img
            src="assets/images/avatars/img-1.jpg"
            class="mx-auto h-80 rounded-full"
            alt=""
          />
        </div>
      </div>

      <div class="xl:col-span-3">
        <span
          class="rounded-md border border-primary bg-primary/20 px-3 py-1 text-xs font-medium uppercase tracking-wider text-primary"
          >Our About</span
        >
        <h2 class="mt-4 text-4xl font-medium text-default-950">
          Entrepreneur of the Year
        </h2>
        <h4 class="mt-5 text-xl font-medium text-default-400">
          Hello! I'm Diego, a self-taught and award-winning Digital Designer
          and Developer with more than fifteen years of professional
          experience. I began my journey in my childhood bedroom and honed
          my skills at renowned digital agencies like nexum AG.
        </h4>

        <div class="mt-6 flex flex-wrap items-center gap-6">
          <div
            class="w-48 rounded-xl bg-white p-4 text-center drop-shadow-md dark:bg-default-50"
          >
            <h2 class="text-4xl font-medium text-default-950">200+</h2>
            <p class="mt-2 text-base">Project Delivered</p>
          </div>

          <div
            class="w-48 rounded-xl bg-white p-4 text-center drop-shadow-md dark:bg-default-50"
          >
            <h2 class="text-4xl font-medium text-default-950">20+</h2>
            <p class="mt-2 text-base">Years of Experience</p>
          </div>

          <div
            class="w-48 rounded-xl bg-white p-4 text-center drop-shadow-md dark:bg-default-50"
          >
            <h2 class="text-4xl font-medium text-default-950">45+</h2>
            <p class="mt-2 text-base">Happy Clients</p>
          </div>
        </div>
        <div class="inline-block">
          <a
            href="javascript:void(0);"
            class="mt-6 flex items-center justify-center gap-2 rounded-md border border-primary bg-primary/90 px-6 py-2 text-lg text-white transition-all hover:bg-primary"
            >Read more
            <lucide-angular
              name="move-right"
              class="size-7"
            ></lucide-angular>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End statistique -->
`,

<!--------------------------------------------------------------------début du caroussel------------------------------------------------------------------------------------------------>


    <!-- Section Start -->
    <section id="portfolio" class="py-10 lg:py-20">
      <div class="container">
        <div class="flex flex-wrap items-center justify-between gap-5">
          <div>
            <div class="mx-auto max-w-2xl">
              <h2 class="mb-4 text-4xl font-medium text-default-950">
                Our Portfolio
              </h2>
              <p class="text-base">
                A visual exhibition of remarkable animal moments captured in
                time. Each image narrates a distinct story, exalting the core
                and vitality of animals in their full splendor.
              </p>
            </div>
          </div>
          <div>
            <a
              href="javascript:void(0);"
              class="inline-flex items-center justify-center gap-2 border border-default-200 bg-primary px-6 py-2 text-white transition-all duration-300 hover:bg-primary-700"
              >View All</a
            >
          </div>
        </div>
        <!-- flex End -->
      </div>
      <!-- container End -->

      <div class="mt-14">
        <div class="relative m-auto flex gap-8 overflow-hidden">
          <div
            class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8"
          >
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-3.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-2.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-6.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-10.jpg"
              alt=""
            />
          </div>
          <!-- marquee__group End -->

          <div
            aria-hidden="true"
            class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8"
          >
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-9.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-2.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-5.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-10.jpg"
              alt=""
            />
          </div>
          <!-- marquee__group End -->
        </div>
        <!-- flex End -->

        <div class="marquee--reverse m-auto mt-8 flex gap-8 overflow-hidden">
          <div
            class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8 delay-[31s]"
          >
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-3.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-2.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-6.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-10.jpg"
              alt=""
            />
          </div>
          <!-- marquee__group End -->

          <div
            aria-hidden="true"
            class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8 delay-[31s]"
          >
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-9.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-2.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-5.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="assets/images/landing/photography/img-10.jpg"
              alt=""
            />
          </div>
          <!-- marquee__group End -->
        </div>
        <!-- marquee--reverse End -->
      </div>

      <div class="mt-12 flex items-center justify-center">
        <a
          href="javascript:void(0);"
          class="inline-flex items-center justify-center gap-2 rounded border border-default-200 px-6 py-2 text-base font-medium text-default-950 transition-all duration-300 hover:bg-primary hover:text-default-950"
          >View More
          <lucide-angular name="move-right" class="size-5"></lucide-angular>
        </a>
      </div>
      <!-- flex End -->
    </section>
    <!-- Section end -->
<!----------------------------fin du caroussel------------------------------------------------------------------------------------------------------------------------------->


<!-- Footer -->
<footer>
  <div class="py-4">
    <div
      class="container flex h-full flex-wrap items-center justify-center text-center md:justify-between md:text-start"
    >
      <p class="text-base text-default-900">
        {{ year }}
        © AeroPage. Crafted and Coded with
        <span class="text-red-500">❤️</span> by
        <a
          class="text-primary-700"
          href="https://coderthemes.com/"
          target="_blank"
          >Coderthemes</a
        >
      </p>
      <p class="text-base">
        <a href="javascript:void(0);">Terms Conditions & Policy</a>
      </p>
    </div>
    <!-- Flex End -->
  </div>
</footer>
<!-----------fin du footer-------------------------------------------------------------------------------------------------------------------------------------------------->



