  <!-- ======= hero start ======= -->
    <section
      id="home"
      class="relative bg-default-100 mb-8 bg-[url('../images/other/bg-lines-2.png')] bg-cover bg-no-repeat py-24 dark:bg-default-50 dark:bg-[url('../images/other/bg-lines-2-dark.png')] lg:py-32"
    >
      <div
        class="flex items-center overflow-hidden before:absolute before:inset-0 before:left-[63.67%] before:hidden before:rounded-bl-3xl before:bg-primary/80 lg:before:block"
      >
        <div
          class="absolute -top-44 bottom-0 right-0 w-2/6 bg-contain bg-right bg-no-repeat"
          style="background-image: url(assets/images/landing/charity/bg-1.png)"
        ></div>

        <div class="container">
          <div class="grid grid-cols-1 items-center gap-10 lg:grid-cols-2">
            <div >
              <div class="flex flex-col justify-center" >
                <div class="row">
                  <div class="col">
                    <img src="/assets/images/pdb/logopdbwb.png" alt="">
                    

                  </div>
                </div>
                  
                <p class="mb-4 text-2xl font-medium text-default-950 sm:text-3xl xl:text-5xl/tight">
                  Pronostiquez sur les JO de Paris 2024 pour du beurre !
                </p>
                
              @if(!divIsVisible || emailSend) {
                <p class="mt-5 text-base">
                  Vous en avez marre de ces applis de pronostic sportif qui vous prenne pour un produit ?! 
                </p>
                <p class="mt-5 text-base">
                  On sait que ça existe déjà, mais on a remarqué que ces applies 
                  sont remplis de publicité de sites de paris sportifs, et surtout que 
                  le système de cotes de ces sites est reproduit. 
                </p>
                <p class="mt-5 text-base">
                  On pense que les pronostics sportifs devraient être un jeu avant tout ! C'est pour ça qu'on développe pourdubeurre.bzh 
                </p>
                @if(!emailSend){
                  <div class="row">
                    <div class="col text-center">
                      <button (click)= showDiv() 
                      class="inline-flex items-center justify-center gap-2 rounded-md bg-primary px-8 py-2 text-base text-white transition-all duration-300 hover:bg-primary-700 mt-10">
                      Me tenir informé !
                        <lucide-angular name="move-right" class="size-6"></lucide-angular>
                      </button>
                    </div>
                  </div>
                }
                
              }
                
              @if(divIsVisible && !emailSend) {
                  <div id="un">
                    <p class="mt-5 text-base">
                      pour etre prévenu du lancement des inscriptions, vers le 10 juillet, laissez nous votre e-mail. 
                    </p>
                  <input [(ngModel)]="email" type="email" id="name" name="e-mail" placeholder="je laisse mon email"  size="30" class="mt-7"/>
                  <p>{{erreurMessage}}</p>
                  <div class="mt-10">
                    <button href="javascript:void(0);"
                    class="inline-flex items-center justify-center gap-2 rounded-md bg-primary px-8 py-2 text-base text-white transition-all duration-300 hover:bg-primary-700"
                    (click)="envoieDeMail()"
                    >Envoyer<lucide-angular
                    name="move-right"
                    class="size-6"
                  ></lucide-angular></button>
                  </div>
                  </div>
              }
              </div>
              <!-- flex End -->
            </div>

            <div class="z-10">
              <div class="tilt flex items-center gap-4 md:gap-6">
                <div class="flex w-full flex-col gap-4 md:gap-6">
                  <img
                    src="/assets/images/pdb/start-run.jpg"
                    class="h-full w-full rounded-lg object-cover"
                    alt=""
                  />
                </div>
                <div
                  class="relative flex w-full flex-col gap-4 pb-10 md:gap-6 md:pb-16"
                >
                  <img
                    src="/assets/images/pdb/joie-sunset.jpg"
                    class="h-40 w-full rounded-lg object-cover md:h-[278px]"
                    alt=""
                  />
                  <img
                    src="/assets/images/pdb/natation-course.jpg"
                    class="h-40 w-full rounded-lg object-cover md:h-[278px]"
                    alt=""
                  />
                </div>
              </div>
              <!-- flex End -->
            </div>
          </div>
          <!-- Grid End -->
        </div>
        <!-- Container End -->
      </div>
    </section>
    <!-- ======= hero end ======= -->

    <section class="relative -mt-40 py-10 md:-mt-32">
      <div class="container">
        <div
          class="mx-auto max-w-6xl rounded-xl bg-gradient-to-t from-default-50 via-default-100 to-default-200 shadow"
        >
        </div>
      </div>
    </section>
<!-- image 1 Start About -->
<section id="projects" class="overflow-hidden py-10">
  <div class="container">
    <div
      class="relative overflow-hidden rounded-3xl bg-white shadow-[rgba(17,_17,_26,_0.1)_0px_0px_24px] dark:bg-default-50"
    >
      <div class="grid items-center gap-6 lg:grid-cols-2">
        <div class="relative p-6 text-center">
          <span
            class="rounded-md border border-primary bg-primary/20 px-3 py-1 text-xs font-medium uppercase tracking-wider text-primary"
            >Entre amis !</span
          >
          <h2 class="mt-4 text-3xl font-medium text-default-950">
            Pour l'amour de la compétition 
          </h2>
          <p class="mb-8 mt-5 text-base">
            Sur pourdubeurre.bzh vous pronostiquez et défiez vos amis et collègue sur des règles simples !
          </p>
          <p class=" mt-1 text-base">
            On mise sur le comité olympique gagnant.
          </p>
          <p class="mb-8 mt-1 text-base">
            1 point par médaille (or, argent, bronze).
          </p>
        </div>
        <img
          src="/assets/images/pdb/pexels-jim-de-ramos-395808-1263349.jpg"
          class="h-full w-full"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End About -->
<!--Image 2 Start About -->
<section id="projects" class="overflow-hidden py-10">
  <div class="container">
    <div
      class="relative overflow-hidden rounded-3xl bg-white shadow-[rgba(17,_17,_26,_0.1)_0px_0px_24px] dark:bg-default-50"
    >
      <div class="grid items-center gap-6 lg:grid-cols-2">
        <div class="relative p-6 text-center">
          <span
            class="rounded-md border border-primary bg-primary/20 px-3 py-1 text-xs font-medium uppercase tracking-wider text-primary"
            >Tous les sport !</span
          >
          <h2 class="mt-4 text-3xl font-medium text-default-950">
            Immérgez vous dans les JO
          </h2>
          <p class="mb-8 mt-5 text-base">
            Toutes les disciplines et toutes les medailles sont présente !
          </p>
          <p class=" mt-1 text-base">
            Du breakdance au kayak
          </p>
          <p class="mb-8 mt-1 text-base">
            On va montrer qu'il n'y a pas que le foot
          </p>
        </div>
        <img
          src="/assets/images/pdb/chau-cedric--6GinD-1NwE-unsplash.jpg"
          class="h-full w-full"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End About -->
<!--Image 3 Start About -->
<section id="projects" class="overflow-hidden py-10">
  <div class="container">
    <div
      class="relative overflow-hidden rounded-3xl bg-white shadow-[rgba(17,_17,_26,_0.1)_0px_0px_24px] dark:bg-default-50"
    >
      <div class="grid items-center gap-6 lg:grid-cols-2">
        <div class="relative p-6 text-center">
          <span
            class="rounded-md border border-primary bg-primary/20 px-3 py-1 text-xs font-medium uppercase tracking-wider text-primary"
            >Juste du Fun !</span
          >
          <h2 class="mt-4 text-3xl font-medium text-default-950">
            Jouer sans pression
          </h2>
          <p class="mb-8 mt-5 text-base">
            On veut que tous et toutes puisse jouer et proposer l'appli.   
          </p>
          <p class=" mt-1 text-base">
            Sur pourdubeurre.bzh :
          </p>
          <p class="mt-1 text-base">
            pas de pubs de sites de paris sportifs
          </p>
          <p class="mt-1 text-base">
            pas de références aux jeu d'argent
          </p>
        </div>
        <img
          src="/assets/images/pdb/pexels-jill-wellington-1638660-40815.jpg"
          class="h-full w-full"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End About -->
<!-- Start statistique -->
<section id="about" class="py-10 lg:py-20">
  <div class="container">
    <div class="grid items-center gap-6 xl:grid-cols-5">
      <div class="xl:col-span-2">
        <div>
          <img
            src="/assets/images/pdb/flamme.jpg"
            class="mx-auto h-80 rounded-full"
            alt=""
          />
        </div>
      </div>

      <div class="xl:col-span-3">
        <h2 class="mt-4 text-4xl font-medium text-default-950">
          Paris 2024 en .bzh
        </h2>
        <h4 class="mt-5 text-xl font-medium text-default-400">
          Les Jeux olympiques d'été de 2024, officiellement appelés les Jeux de la XXXIIIe olympiade, seront célébrés du 26 juillet au 11 août 2024. 
          pourdubeurre.bzh est développé par une entreprise Quimpéroise et vous propose de vivre ces jeux en .bzh
          

        </h4>

        <div class="mt-6 flex flex-wrap items-center gap-6">
          <div
            class="w-48 rounded-xl bg-white p-4 text-center drop-shadow-md dark:bg-default-50"
          >
            <h2 class="text-4xl font-medium text-default-950">200+</h2>
            <p class="mt-2 text-base">Comités olympiques</p>
          </div>

          <div
            class="w-48 rounded-xl bg-white p-4 text-center drop-shadow-md dark:bg-default-50"
          >
            <h2 class="text-4xl font-medium text-default-950">40+</h2>
            <p class="mt-2 text-base">Disciplines</p>
          </div>

          <div
            class="w-48 rounded-xl bg-white p-4 text-center drop-shadow-md dark:bg-default-50"
          >
            <h2 class="text-4xl font-medium text-default-950">10 000+</h2>
            <p class="mt-2 text-base">Athlètes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End statistique -->
`,

<!--------------------------------------------------------------------début du caroussel------------------------------------------------------------------------------------------------>


    <!-- Section Start -->
    <section id="portfolio" class="py-10 lg:py-20">
      <div class="mt-14">
        <div class="relative m-auto flex gap-8 overflow-hidden">
          <div
            class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8"
          >
            <img
              class="h-72 w-full object-cover"
              src="/assets/images/pdb/cyclists-course.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="/assets/images/pdb/escrime.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="/assets/images/pdb/natation-course.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="/assets/images/pdb/rugby-p.jpg"
              alt=""
            />
          </div>
          <!-- marquee__group End -->

          <div
            aria-hidden="true"
            class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8"
          >
            <img
              class="h-72 w-full object-cover"
              src="/assets/images/pdb/athlerun.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="/assets/images/pdb/tennis-service.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="/assets/images/pdb/gym.jpg"
              alt=""
            />
            <img
              class="h-72 w-full object-cover"
              src="/assets/images/pdb/surf.jpg"
              alt=""
            />
          </div>
          <!-- marquee__group End -->
        </div>
        <!-- flex End -->

        <div class="marquee--reverse m-auto mt-8 flex gap-8 overflow-hidden">
          <div
            class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8 delay-[31s]"
          >
          <img
          class="h-72 w-full object-cover"
          src="/assets/images/pdb/cycling-race-2.jpg"
          alt=""
        />
        <img
          class="h-72 w-full object-cover"
          src="/assets/images/pdb/judo.jpg"
          alt=""
        />
        <img
          class="h-72 w-full object-cover"
          src="/assets/images/pdb/gym.jpg"
          alt=""
        />
        <img
          class="h-72 w-full object-cover"
          src="/assets/images/pdb/tennis-5782695_1280.jpg"
          alt=""
        />
          </div>
          <!-- marquee__group End -->

          <div
            aria-hidden="true"
            class="marquee__group flex min-w-full flex-shrink-0 items-center justify-around gap-8 delay-[31s]"
          >
          <img
          class="h-72 w-full object-cover"
          src="/assets/images/pdb/tennis-jeux.jpg"
          alt=""
        />
        <img
          class="h-72 w-full object-cover"
          src="/assets/images/pdb/surf-aerial.jpg"
          alt=""
        />
        <img
          class="h-72 w-full object-cover"
          src="/assets/images/pdb/judo-combat.jpg"
          alt=""
        />
        <img
          class="h-72 w-full object-cover"
          src="/assets/images/pdb/course-atle-long.jpg"
          alt=""
        />
          </div>
          <!-- marquee__group End -->
        </div>
        <!-- marquee--reverse End -->
      </div>

      
      <!-- flex End -->
    </section>
    <!-- Section end -->
<!----------------------------fin du caroussel------------------------------------------------------------------------------------------------------------------------------->


<!-- Footer -->
<footer>
  <div class="py-4">
    <div
      class="container flex h-full flex-wrap items-center justify-center text-center  md:justify-center md:text-center"
    >
      <p class="text-base text-default-900">
        {{ year }}
        © pourdubeurre.bzh créé par Olivier LASBLEIS et Pierre BARRY avec
        <span class="text-red-500">❤️</span>
        
      </p>
    </div>
  </div>
</footer>
<!-----------fin du footer-------------------------------------------------------------------------------------------------------------------------------------------------->



